/* eslint-disable */

import React from 'react';
#svgComponents#
#imports#

let IconFont = ({ name, ...rest }) => {
  switch (name) {
#cases#  }

  return null;
};

IconFont = React.memo ? React.memo(IconFont) : IconFont;

export default IconFont;
