/* eslint-disable */

import React from 'react';
#svgComponents#
#imports#

export const #SummaryIcon# = ({ name, ...rest }) => {
  switch (name) {
#cases#  }

  return null;
};

export default #SummaryIcon#;
