/* tslint:disable */
/* eslint-disable */

import React from 'react';
import { #svgComponents# } from 'react-native-svg';

const Icon = ({ size, name }) => {
  switch (name) {
#cases#
  }

  return null;
};

Icon.defaultProps = {
  size: #size#,
};

export default Icon;

/* eslint-enable */
/* tslint:enable */
