/* tslint:disable */
/* eslint-disable */

import React from 'react';
#svgComponents#
#imports#

#comments#
const Icon = ({ color, name, size }) => {
  switch (name) {
#cases#
  }

  return null;
};

Icon.defaultProps = {
  size: #size#,
};

export default Icon;

/* eslint-enable */
/* tslint:enable */
