/* tslint:disable */
/* eslint-disable */

import React, { FunctionComponent } from 'react';
#svgComponents#
#imports#

interface Props {
  size?: number;
  color?: string | string[];
  name: '#names#';
}

#comments#
const Icon: FunctionComponent<Props> = ({ color, name, size }) => {
  switch (name) {
#cases#
  }

  return null;
};

Icon.defaultProps = {
  size: #size#,
};

export default Icon;

/* eslint-enable */
/* tslint:enable */
