/* eslint-disable */

import React from 'react';
#svgComponents#
#imports#

#comments#
export const #SummaryIcon# = ({ color, name, size, ...rest }) => {
  switch (name) {
#cases#
  }

  return null;
};

#SummaryIcon#.defaultProps = {
  size: #size#,
};
#colorFunc#
export default #SummaryIcon#;
