/* tslint:disable */
/* eslint-disable */

import React from 'react';
import { number, oneOf } from 'prop-types';
#svgComponents#
#imports#

#comments#
const Icon = ({ size, name }) => {
  switch (name) {
#cases#
  }

  return null;
};

Icon.propTypes = {
  size: number,
  name: oneOf(#namesArray#),
};

Icon.defaultProps = {
  size: #size#,
};

export default Icon;

/* eslint-enable */
/* tslint:enable */
