/* eslint-disable */

import React from 'react';
#svgComponents#

#xml#

let #componentName# = ({ size, color, ...rest }) => {
  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

#componentName# = React.memo ? React.memo(#componentName#) : #componentName#;

export default #componentName#;
