/* tslint:disable */
/* eslint-disable */

import React, { FunctionComponent } from 'react';
import { ViewProps } from 'react-native';
#svgComponents#

interface Props extends GProps, ViewProps {
  size?: number;
  color?: string | string[];
}

#xml#

const #componentName#: FunctionComponent<Props> = ({ size, color, ...rest }) => {
  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

export default React.memo ? React.memo(#componentName#) : #componentName#;
