/* eslint-disable */

import React from 'react';
#svgComponents#
#helper#

const #componentName# = ({ size, color, ...rest }) => {
  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

export default #componentName#;
