/* tslint:disable */
/* eslint-disable */

import React from 'react';
#svgComponents#

#comments#
const #componentName# = ({ size, color }) => {
  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

export default #componentName#;

/* eslint-enable */
/* tslint:enable */
