/* tslint:disable */
/* eslint-disable */

import React, { FunctionComponent } from 'react';
#svgComponents#

interface Props {
  size?: number;
  color?: string | string[];
}

#comments#
const #componentName#: FunctionComponent<Props> = ({ size, color }) => {
  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

export default #componentName#;

/* eslint-enable */
/* tslint:enable */
