/* tslint:disable */
/* eslint-disable */

import React from 'react';
import { number } from 'prop-types';
#svgComponents#

#comments#
const #componentName# = ({ size }) => {
  return (#iconContent#  );
};

#componentName#.propTypes = {
  size: number,
};

#componentName#.defaultProps = {
  size: #size#,
};

export default #componentName#;

/* eslint-enable */
/* tslint:enable */
