/* eslint-disable */

import { FC } from 'react';
// Don't forget to install package: @types/react-native
import { ViewProps } from 'react-native';
import { GProps } from 'react-native-svg';

export interface IconfontProps extends GProps, ViewProps {
  size?: number;
  color?: string | string[];
}

declare const #componentName#: FC<IconfontProps>;

export default #componentName#;
